*{
    margin: 0;
    scroll-behavior: smooth;
    transition: all 0.5s ease-in-out;
}
a{
    list-style: none;
    text-decoration: none;
}

#burger{
    display: none;
}
header, p, .footer1{
    font-family: "Noto Sans", sans-serif;
}
header{
    max-width: 1902px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.logo{
    width: 180px;
}
.logo a{
    display: block;
}
.logo img{
    margin-top: -40px;
    width: 180px;
    height: 106px;
    max-width: 180px;
    opacity: 1;
    max-width: 180px;
}
.header nav ul{
    display: flex;
    font-size: 16px;
    color: #000000;
    gap: 20px;
    list-style: none;
}
header ul li a{
    color: #000000;
}
header ul li a:hover{
    color: #CC3900;
    
}


.icons ul{
    display: flex;
    gap: 10px;
    list-style:none ;
   
}
.icons ul li a{
    color: #CC3900;
}

/* SECTION 1 */
#section1{
    max-width: 1903px;
    margin: auto;
    background-color: #FBBBCD;
}
#section1 div{
    max-width: 1440px;
    margin: auto;
    height: 400px;
}


h1{ 
    font-family: "Gloria Hallelujah", sans-serif;
    font-weight: 400;
    font-size: 45px;
    line-height: 45px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #000000;
   padding: 160px;

}
#blog{
    max-width: 1903px;
    margin: auto;
}
#blocsection{
    max-width: 1420px;
    margin: auto;
}
#blog h1{
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    vertical-align: middle;
    color: #7A7A7A;
    padding-top: 20px;
    padding-bottom: 40px;

}
.blog1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 40px;

}
.blog1 img{
    width: 100%;
    height: 80%;
}
.p1{
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    vertical-align: middle;
    color: rgba(156, 156, 156, 1);
    margin-bottom:10px;
}
h2{
    font-family: "Noto Sans",sans-serif;
    font-weight: 400;
    font-style: Display Regular;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(51, 51, 51, 1);

}
.p2{
    font-family:" Noto Sans",sans-serif;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(156, 156, 156, 1);
    margin-bottom: 10px;

}
.btn{
    font-family: "Noto Sans",sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(96, 91, 229, 1);
    margin-bottom: 90px;

}

/* FOOTER  */
.footer{
    max-width: 1902px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;

    margin-top: 80px;
}
footer ul li a{
    color: #000000;
}
.copyright{
    text-align: center;
}
.copyright a{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #000000;
}


/* RESPONSIVE TABLETTE */

@media screen and (max-width:1024px) {
     header{
        justify-content: space-between;
    }
    .header nav{
        display: none;
    }
    #burger{
        display: block;
    }
    .icons{
        display: none;
    }  
     footer p{
    display: none;

   }

    
}

@media screen and (max-width:767px){

    
     header{
        justify-content: space-between;
    }
    .header nav{
        display: none;
    }
    #burger{
        display: block;
    }
    .icons{
        display: none;
        
}
.blog1{
    display: grid;
    grid-template-columns: 1fr;
}
  footer p{
    display: none;

   }
}