*{
    margin: 0;
}
a{
    list-style: none;
    text-decoration: none;
}

#burger{
    display: none;
}
header, p, .footer1{
    font-family: "Noto Sans", sans-serif;
}
header{
    max-width: 1902px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.logo{
    width: 180px;
}
.logo a{
    display: block;
}
.logo img{
    margin-top: -40px;
    width: 180px;
    height: 106px;
    max-width: 180px;
    opacity: 1;
    max-width: 180px;
}
.header nav ul{
    display: flex;
    font-size: 16px;
    color: #000000;
    gap: 20px;
    list-style: none;
}
header ul li a{
    color: #000000;
}
header ul li a:hover{
    color: #CC3900;
    
}


.icons ul{
    display: flex;
    gap: 10px;
    list-style:none ;
   
}
.icons ul li a{
    color: #CC3900;
}
/* SECTION 4 */

#section4{
    background-color: #F7F7F7;
    max-width:  1903px;
    margin: auto;
}

#section4 #sectionAAA{
     max-width: 1440px;
    margin: auto;

}

#section4 h1{
    font-family: "Gloria Hallelujah", sans-serif;
    font-weight: 400;
    font-size: 45px;
    line-height: 45px;
    text-align: center;
    vertical-align: middle;
    padding-top: 50px;
    margin-bottom: 50px;

}

#section4 ul{
    display: flex;
    gap: 15px;
    list-style: none;
}
#section4 li a{
      color: #CC3900;
      list-style: none;

}

#section4 a{
    list-style: none;
}

#section4 p{
    font-family: "Noto Sans",sans-serif;
    font-weight: 400;
     font-size: 14px;
    line-height: 21px;
    vertical-align: middle;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;

 }

 #section4 .btn{
    border: 1px solid;
    border-color:  #FBBBCD;
    border-radius: 2px;
    padding: 10px 18px;
    color: #000000;
    font-size: 16px;
     
 }
  #section4 .btn:hover{
    color: #F7F7F7;
    background-color: #CC3900;

  }
 #section4 h2{
    font-family: "Gloria Hallelujah", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-align: center;
    margin-top: 20px;

 }




.sec41{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.sec41 img{
    height: 70%;
    width: 100%;
}

.sec41 div{
    display: flex;
    justify-content: space-between;
}
.sec41 div article nav{
    display: flex;
}
.sec41 div  article nav li a{
text-decoration: none;
list-style: none;
}


.sec42{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 40px;

}
.sec42 img{
    height: 45%;
    width: 100%;
}
.sec42 div{
     display: flex;
    justify-content: space-between;
}
/* FOOTER  */
.footer{
    max-width: 1902px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-top: 50px;
}
footer ul li a{
    color: #000000;
}
.copyright{
    text-align: center;
}
.copyright a{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #000000;
}
