*{
    margin: 0;
}
a{
    list-style: none;
    text-decoration: none;
}

header, p, .footer1{
    font-family: "Noto Sans", sans-serif;
}
header{
    max-width: 1902px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.logo{
    width: 180px;
}
.logo a{
    display: block;
}
.logo img{
    margin-top: -40px;
    width: 180px;
    height: 106px;
    max-width: 180px;
    opacity: 1;
    max-width: 180px;
}
.header nav ul{
    display: flex;
    font-size: 16px;
    color: #000000;
    gap: 20px;
    list-style: none;
}
header ul li a{
    color: #000000;
}


.icons ul{
    display: flex;
    gap: 10px;
    list-style:none ;
   
}
.icons ul li a{
    color: #CC3900;
}

/* SECTION 1 */
#section1{
    max-width: 1902px;
    margin: auto;
   
}
#section1 #sec00{
    max-width: 1400px;
    margin: auto;
     margin-top: 40px;
    display: flex;
  justify-content: space-between;
}
#section1 .div1{
   align-self: center;
}
#section1 .div1 div{
    display: flex;
    color: #CC3900;

}
#section1  hr{
    width: 50px;
    height: 1px;
    align-self: center;
}
#section1 article h1{
    font-family:"Gloria Hallelujah",sans-serif;
    font-weight: 400;
    font-size: 45px;
    line-height: 45px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;
    padding-top: 40px;

}
#section1 article p{
    width: 60%;
    padding-bottom: 40px;
}
#section1 h2{
    font-family: "Gloria Hallelujah",sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    padding-bottom: 40px;
    padding-top: 20px;
}
#section1 .btn{
    border: 1px solid;
    border-color:  #FBBBCD;
    border-radius: 2px;
    padding: 10px;
    color: #000000;
    font-size: 16px;
}
#section1{
    background-image: url(../IMG/BGsection1.png);
    background-size: 50%;
    background-position: right;
    background-repeat: no-repeat;
}
#section1 .div2 img{
width: 618px;
display: block;
padding-top: 20%;
}

/* SECTION 2 */
#section2{
    max-width: 1902px;
    margin: auto;
    display: flex;
    padding-top: 40px;
    opacity: 1;
    top: 901px;
}

#section2 .divsec21{
    background-color: #FBBBCD;
    max-width: 700px;
    opacity: 1;
    padding: 150px;
   height: 864px;
    align-self: center;
   

}
.divsec21 h1{
    font-family: "Gloria Hallelujah",sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 45px;
    line-height: 45px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-align: center;
    color: #000000;
    padding-bottom: 40px;
     margin-bottom: 70px;
    max-width: 652px;

}
.divsec21 p{
    font-family: "Noto Sans",sans-serif;
    font-weight: 400;
    font-style: Display Regular;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;
    padding-bottom: 20px;
}
.divsec22{
    width: 952px;
    opacity: 1;
    padding-top: 19.58px;
    padding-right: 10px;
    padding-bottom: 19.59px;
    padding-left: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;


}
.divsec22 img{
    width: 100%;
    object-fit: cover;
    container-type: inline-size;
}
.div1111{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}
.div1111 img{
    min-height: -webkit-fill-available;
}

.div2222{
     display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.div2222 img{
    min-height: -webkit-fill-available;
}
#section2 a{
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
vertical-align: middle;
text-decoration: underline;
text-decoration-style: solid;
text-decoration-thickness: 0%;
color: #000000;

}

/* SECTION 3 */

#section3{
    max-width: 1140px;
    margin: auto;
}
.sec31{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
}
.sec31  h1{
    font-family: "Gloria Hallelujah", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 45px;
    line-height: 45px;
    letter-spacing: 0%;
    vertical-align: middle;
}
.sec31 a{
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    color: #000000;
    border: 1px solid;
    border-radius: 2px;
    border-color: #FBBBCD;
    padding: 10px ;

}
.sec32{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}
.sec32 h2{
    font-family: "Gloria Hallelujah", sans-serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}
.sec32 img{
    height: 50%;
    width: 100%;
    object-fit: cover;
}
.sec32 p{
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

}

/* SECTION 4 */

#section4{
     max-width: 1140px;
    margin: auto;

}
.sec41, .sec42{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}
.sec41 div{
    display: flex;
    justify-content: space-between;
}
.sec42 div{
     display: flex;
    justify-content: space-between;

}

/* FOOTER  */
.footer{
    max-width: 1902px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-top: 50px;
}
footer ul li a{
    color: #000000;
}
.copyright{
    text-align: center;
}
.copyright a{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #000000;
}