*{
    margin: 0;
}
a{
    list-style: none;
    text-decoration: none;
}

#burger{
    display: none;
}
header, p, .footer1{
    font-family: "Noto Sans", sans-serif;
}
header{
    max-width: 1902px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.logo{
    width: 180px;
}
.logo a{
    display: block;
}
.logo img{
    margin-top: -40px;
    width: 180px;
    height: 106px;
    max-width: 180px;
    opacity: 1;
    max-width: 180px;
}
.header nav ul{
    display: flex;
    font-size: 16px;
    color: #000000;
    gap: 20px;
    list-style: none;
}
header ul li a{
    color: #000000;
}
header ul li a:hover{
    color: #CC3900;
    
}


.icons ul{
    display: flex;
    gap: 10px;
    list-style:none ;
   
}
.icons ul li a{
    color: #CC3900;
}
/* SECTION 2 */
#section2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 40px;
    top: 901px;
}

#section2 .divsec21{
    background-color: #FBBBCD;
    padding: 100px;
    align-self: center;
   

}
.divsec21 h1{
    font-family: "Gloria Hallelujah",sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 45px;
    line-height: 45px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-align: center;
    color: #000000;
    padding-bottom: 40px;
     margin-bottom: 70px;
    max-width: 652px;

}
.divsec21 p{
    font-family: "Noto Sans",sans-serif;
    font-weight: 400;
    font-style: Display Regular;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;
    padding-bottom: 20px;
}
.divsec22{
    opacity: 1;
    padding-top: 19.58px;
    padding-right: 10px;
    padding-bottom: 19.59px;
    padding-left: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;


}
.divsec22 img{
    width: 100%;
    object-fit: cover;
    container-type: inline-size;
}
.div1111{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}
.div1111 img{
    min-height: -webkit-fill-available;
}

.div2222{
     display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.div2222 img{
    min-height: -webkit-fill-available;
}
#section2 a{
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
vertical-align: middle;
text-decoration: underline;
text-decoration-style: solid;
text-decoration-thickness: 0%;
color: #000000;

}


/* FOOTER  */
.footer{
    max-width: 1902px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-top: 50px;
}
footer ul li a{
    color: #000000;
}
.copyright{
    text-align: center;
}
.copyright a{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #000000;
}
